section {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

.privacy-policy {
    padding: 100px 20px;
}

.contenedor{
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

h3 {
    color: #555;
    margin-top: 25px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    margin-left: 20px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 8px;
}

strong {
    font-weight: bold;
}

/* Estilos para una mejor legibilidad en pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.95rem;
        margin-bottom: 10px;
    }

    ul, ol {
        margin-left: 15px;
        margin-bottom: 10px;
    }

    li {
        margin-bottom: 6px;
    }
}