@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bebas+Neue&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poetsen+One&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root{
    --MargenDeterminado:10px;
}
footer{
    border: 1px solid black;
}
.contains-newletter{
    background: linear-gradient( 90deg , rgb(245, 123, 123),  rgb(233, 152, 76));
    display: flex;
    justify-content: space-around;
    padding-top: var(--MargenDeterminado);
    padding-bottom: var(--MargenDeterminado);
   
}
.barlow-black-3D-blurEffet{
    font-family: "Barlow", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    color: white;
    text-shadow:
    1px 1px 2px #999,
   -1px -1px 2px #fff;
    filter:drop-shadow( 1px 1px black) blur(1px);
    margin: 0;
  }
.contains-newletter> section:first-child{
    padding-left: 140px;
    width: 40%;
}
.contains-newletter> section:last-child{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

input{
    border-radius: 55px  102px 25px 55px;
    width: 300px;
    height: 40px;
    position: relative;
}
div.pseudoelemento{
    position: relative;
}
div.pseudoelemento::after{
    position: absolute;
    width: 41px;
    height: 42px;
    content: "";
    top: 1px;
    left: 264px;
    border-radius: 10px 102px 25px 20px;
    border: 1px solid black;
    box-shadow:-2px 1px 5px black;
    background-color: rgba(4, 52, 107, 0.678);
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='black'><path d='M20 4H6c-1.103 0-2 .897-2 2v5h2V8l6.4 4.8a1.001 1.001 0 0 0 1.2 0L20 8v9h-8v2h8c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 6.75L6.666 6h12.668L13 10.75z'/><path d='M2 12h7v2H2zm2 3h6v2H4zm3 3h4v2H7z'/></svg>");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    background-size: 30px; 
}

h2.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 0;
  color:rgb(0, 0, 0);
  filter:drop-shadow( 1px 1px black) blur(1px);
} 

p.informacion{
    margin-top: -10px;
    color: white;
    font: 16px;
    font-family: "Barlow", sans-serif;

    filter:drop-shadow( 5px 10px 10px black)  blur(1px) ;
}
.contains-privacity{ 
    color: white;
    width: 100%; 
    background-color: rgb(13, 13, 82);
    justify-items: center;
} 


.contains-privacity > section{
   
    display: flex;
}

.contains-privacity > section:first-child{
    width: 75%;
    padding:40px 0 10px 0;
    justify-content: space-between;
}

hr{
    width: 96%;
}

.contains-privacity > section:last-child{
    width: 90%;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

.sansation-light {
    font-family: "Sansation", sans-serif;
    font-weight: 900;
    font-style: normal;
    
}